html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
textarea,
select,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Lucida Grande", sans-serif, Heiti, "黑体", "Microsoft Yahei", "微软雅黑";
  color: #000;
  background: #EFEFEF;
  padding-top: 60px;
}
*::selection {
  background: #00b3ee;
}
select,
input,
img,
select {
  vertical-align: middle;
}
a {
  color: #fff;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
#search-result .right-content {
  margin-top: 20px;
}
#search-result .right-content h4 {
  margin-bottom: 20px;
}
#search-result .right-content .hot-content {
  width: 100%;
}
#search-result .right-content .hot-content p {
  float: left;
  width: 33%;
  text-align: left;
  margin-bottom: 20px;
}
#search-result .right-content .hot-content p a {
  color: #000 !important;
  text-decoration: none;
}
#search-result .right-content .hot-content p a:hover {
  text-decoration: underline;
}
#search-result .btn-pages > button {
  margin-right: 10px;
  border: none;
  background: #fff;
  border-radius: 5px;
  outline: 0;
}
#search-result .btn-pages > button.active {
  background: #1482C7;
}
#search-result #tab-list {
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#search-result #tab-list > li.active > a {
  color: #000;
  border-bottom: 2px solid #DD2E00;
}
#search-result #tab-list > li > a {
  color: #8D8D8D;
  text-decoration: none;
  background: none;
  border-radius: 0;
}
#search-result .after-search {
  color: #808080;
  margin-top: 20px;
}
#search-result .line-control {
  margin: 20px 0;
}
#search-result .line-control .font {
  font-size: 16px;
  font-weight: bold;
}
#search-result .line-control .line {
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid #ddd;
  position: relative;
  bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
#search-result #news a {
  color: #2138AC;
}
#search-result #news .contain-img img {
  margin-bottom: 4px;
}
#search-result #news .keywords {
  color: red;
}
#search-result #news .content-size {
  height: 35px;
  overflow: hidden;
}
#search-result #news .right-content h4 {
  margin-bottom: 20px;
}
#search-result #news .right-content .hot-content {
  width: 100%;
}
#search-result #news .right-content .hot-content p {
  float: left;
  width: 33%;
  text-align: left;
  margin-bottom: 20px;
}
#search-result #news .right-content .hot-content p a {
  color: #000 !important;
  text-decoration: none;
}
#search-result #news .right-content .hot-content p a:hover {
  text-decoration: underline;
}
#pingan-video .sort {
  background: #ddd;
}
#pingan-video .wrap-video {
  margin-top: 20px;
}
#pingan-video .wrap-video .card {
  float: left;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#pingan-video .wrap-video .card video {
  width: 100%;
}
#search-box {
  margin-top: 15px;
  width: 498px;
  height: 32px;
  border: 1px solid #1482C7;
  border-radius: 5px;
}
#search-box > input {
  display: inline-block;
  width: 461px;
  height: 32px;
  font-size: 14px;
  color: #808080;
}
#search-box button {
  background: #1482C7;
  width: 28px;
  height: 28px;
  border-radius: 5px;
}
#search-box button > span {
  color: #fff;
}
@media screen and (max-width: 556px) {
  #search-box {
    width: 245px !important;
  }
  #search-box > input {
    width: 210px !important;
  }
}
/*tab-list*/
#service-application {
  margin-top: 20px;
}
#service-application .right-content h4 {
  margin-bottom: 20px;
}
#service-application .right-content .hot-content {
  width: 100%;
}
#service-application .right-content .hot-content p {
  float: left;
  width: 33%;
  text-align: left;
  margin-bottom: 20px;
}
#service-application .right-content .hot-content p a {
  color: #000 !important;
  text-decoration: none;
}
#service-application .right-content .hot-content p a:hover {
  text-decoration: underline;
}
#service-application .service-item {
  cursor: pointer;
  padding: 17px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80%;
  height: 160px;
  padding-left: 10px;
}
#service-application .service-item .card {
  padding-left: 10px;
}
#service-application .service-item p {
  font-size: 12px;
  color: #808080;
}
#service-application .service-item .card-text:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
  visibility: hidden;
}
#service-application .service-item .card-text {
  margin-bottom: 17px;
}
#service-application .service-item a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
#service-application .service-item .card-title {
  margin-bottom: 10px;
}
#service-application .service-item .img-left {
  margin-right: 10px;
  width: 70px;
  height: 46px;
}
#show-message a {
  color: #2138AC;
}
#show-message .contain-img img {
  margin-bottom: 4px;
}
#show-message .keywords {
  color: red;
}
#show-message .content-size {
  height: 35px;
  overflow: hidden;
}
#show-message .right-content h4 {
  margin-bottom: 20px;
}
#show-message .right-content .hot-content {
  width: 100%;
}
#show-message .right-content .hot-content p {
  float: left;
  width: 33%;
  text-align: left;
  margin-bottom: 20px;
}
#show-message .right-content .hot-content p a {
  color: #000 !important;
  text-decoration: none;
}
#show-message .right-content .hot-content p a:hover {
  text-decoration: underline;
}
#show-message .panel {
  margin: 20px 0;
}
.myModal #show-star {
  display: none;
}
.myModal .modal-dialog {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.myModal .modal-header {
  margin-left: 15px;
}
.myModal .modal-title-right {
  margin-left: 16px;
}
.myModal .modal-title-right h4 {
  font-weight: bold;
}
.myModal .modal-body {
  min-height: 500px;
}
.myModal .modal-body ul.text-body li {
  color: #808080;
  margin-bottom: 20px;
}
.myModal .modal-body ul.text-body li .title-key {
  font-size: 14px;
  color: #000;
  font-weight: bold !important;
}
.myModal .modal-footer {
  margin-left: 15px;
}
.myModal .modal-footer .btn-group {
  float: left;
}
.myModal .modal-footer .btn-group button {
  background: #1482C7;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  line-height: 15px;
}
.myModal .modal-footer .btn-group button:nth-child(2) {
  background: #259de9;
}
.myModal .modal-footer .btn-group button:last-child {
  background: #C7C7C7;
}
/*show-message*/
#show-message {
  margin-top: 20px;
}
