#nav {
/* 	background: linear-gradient(to right, #555eaf, #1f8fed); */
    background:#38a3fd;
	border: 0;
	border-radius: 0
}

#nav #login-head {
	padding-right: 10px
}

#nav #login-head>li>a {
	height: 50px;
	line-height: 30px;
	color: #fff
}

#nav #login-head>li>a img {
	position: relative;
	bottom: 3px
}

#nav #login-head li .dropdown-menu {
	background: #fff
}

#nav #login-head li .dropdown-menu a {
	height: 40px;
	line-height: 30px;
	color: #2483ff
}

#nav #login-head li .dropdown-menu li:hover a {
	color: #fff;
	background: #2483ff
}

#nav .navbar-header {
	padding-left: 50px
}

#nav #nav-info {
	padding-left: 10%
}
#nav #nav-info a {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 14px;
	color: #fff
}

#nav .navbar-brand img {
	max-width: 145px;
	max-height: 45px;
	position: relative;
	top: -7px
}

.navbar {
	margin-bottom: 0 !important
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
	border-color: transparent;
}
body {
	background-color: #f2f4fb
}

.modal .modal-header {
	padding: 0
}

.modal .modal-header .close {
	margin-top: 10px;
	margin-right: 20px
}

.modal .modal-header h5 {
	font-size: 16px;
	font-weight: bold;
	color: #2483ff;
	text-align: center;
	padding: 10px 0
}

.modal .modal-body {
	padding: 20px 0
}

.modal .modal-body .form-group {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px
}

.modal .modal-body .form-group label {
	margin-bottom: 10px
}

.modal .modal-footer {
	padding: 10px 0;
	text-align: center !important
}

.modal .modal-footer button {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	line-height: 30px
}

.modal .modal-footer .confirm {
	background: #2483ff;
	color: #fff
}

.modal .modal-footer .cancel {
	border: 1px solid #2483ff;
	color: #2483ff
}

.modal-dialog {
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important
}
.navbar-right{
        margin-right:0 !important;
    }
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
#login-head a{
	font-size:14px;
}
body{
	padding-top:50px;
}