html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
textarea,
select,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  list-style: none;
}
.2323 button{
	background-color:#fff !important;
}
body {
  font-family: sans-serif, Heiti, "Microsoft Yahei";
  color: #000;
  background: #EFEFEF;
  padding-top: 60px;
}
*::selection {
  background: #00b3ee;
}
a:visited{
	color:rgb(85, 26, 139) !important;
}
select,
input,
img,
select {
  vertical-align: middle;
}
a {
  color: #fff;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
  height: 100%;
}
#nav {
  padding-left: 100px;
  padding-right: 100px;
}
#nav img {
  vertical-align: top;
}
#nav a {
  color: #fff;
}
#nav a:hover {
  background: #1482C7;
}
#nav .navbar-brand > img {
  position: relative;
  top: -10px;
}
#nav #nav-info {
  margin-left: 80px;
}
#nav #nav-info a {
  font-size: 14px;
}
#nav #nav-info li.active > a {
  background: #1482C7;
}
#nav #login-head a {
  font-size: 12px;
  height: 50px;
  line-height: 30px;
}
#nav #login-head a img {
  vertical-align: middle;
}
#nav #login-head a:focus {
  background: none;
}
#nav #login-head a:hover {
  background: none;
}
@media screen and (max-width: 768px) {
  #nav {
    padding: 0;
  }
  #nav #nav-info {
    margin: 0;
    display: block;
  }
  #nav #nav-info li:first-child {
    display: block !important;
  }
}
@media screen and (max-width: 1142px) {
  #nav-info {
    display: none;
  }
  #nav-info li:first-child {
    display: block !important;
  }
}
@media screen and (max-width: 1370px) {
  #nav-info li:first-child {
    display: none;
  }
}
#nav .dropdown-menu a {
  color: #717171;
  width: 160px;
  height: 40px !important;
  line-height: 40px !important;
}
#nav .dropdown-menu a:hover {
  background: #ddd !important;
}
.nav .open > a {
  background-color: transparent;
}
#channel-nav {
  padding-top: 35px;
}
#channel-nav li.active a {
  background: none;
  color: #1482C7;
}
#channel-nav a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-right: 56px;
  text-align: left;
  padding-left: 0;
}
#channel-nav a:hover {
  color: #1482C7;
}
.news-distance {
  margin-top: 40px;
}
.news-distance img{
	width:120px;
	height:120px;
}
.news-distance h4 {
  font-weight: bold;
  width: 224px;
  padding-top: 10px;
}
.img-text-new {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.img-text-new .img-content {
  color: #fff;
  float: left;
  margin-right: 20px;
}
.img-text-new .img-content span {
  color: #fff;
}
.img-text-new .img-content .divider {
  width: 60px;
  border-top: 2px solid #fff;
  margin: 15px auto;
}
.img-text-new a {
  color: #000;
}
.img-text-new a:hover {
  color: #1482C7;
  text-decoration: none;
}
.img-text-new .news-content {
  float: left;
  width: 430px;
}
.img-text-new .news-content h5 {
  margin-bottom: 20px;
}
.img-text-new .news-content h5 span {
  color: #666;
}
.img-text-new .news-content h5 a {
  font-weight: bold;
}
.img-text-new .news-content p {
  line-height: 24px;
  color: #666;
}
.img-text-new:after {
  content: "";
  display: block;
  clear: both;
}
.img-new {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.img-new img {
  margin-right: 10px;
}
.img-new h5 {
  line-height: 24px;
  margin-bottom: 10px;
}
.img-new h5 span {
  color: #666;
}
.img-new h5 a {
  color: #000;
  font-weight: bold;
}
.img-new h5 a:hover {
  color: #1482C7;
  text-decoration: none;
}
.text-new {
  padding-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
.text-new h5 {
  margin-bottom: 10px;
  line-height: 24px;
}
.text-new h5 span {
  color: #666;
}
.text-new h5 a {
  color: #000;
  font-weight: bold;
}
.text-new h5 a:hover {
  color: #1482C7;
  text-decoration: none;
}
.text-new p {
  line-height: 24px;
  color: #666;
}
.recent-news li {
  margin: 30px 0;
}
.recent-news li a {
  color: #000;
  font-size: 14px;
}
.recent-news li a:hover {
  color: #1482C7;
  text-decoration: none;
}
