html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
textarea,
select,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Lucida Grande", sans-serif, Heiti, "黑体", "Microsoft Yahei", "微软雅黑";
  color: #000;
  background: #EFEFEF;
}
*::selection {
  background: #00b3ee;
}
select,
input,
img,
select {
  vertical-align: middle;
}
a {
  color: #fff;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
/*导航栏*/
#nav {
  background: rgba(0, 0, 0, 0.3) !important;
}
#nav #login-head li > a {
  height: 50px;
  line-height: 30px;
}
#nav #login-head li a:hover {
  background: none;
  color: #fff;
  text-decoration: none;
}
#nav #login-head li a:focus {
  background: none;
  color: #fff;
}
#nav #nav-info a {
  color: #fff;
  height: 50px;
}
#nav #nav-info a img {
  position: relative;
  bottom: 7px;
}
#nav #nav-info a:hover {
  background: none;
  color: #fff;
  text-decoration: none;
}
#nav #nav-info a:focus {
  background: none;
  color: #fff;
}
body {
  position: relative;
}
.hover-window {
  z-index: 100;
  width: 260px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
.hover-window > li {
  display: inline-block;
}
.hover-window li > a {
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 45px;
  background: transparent;
  margin: 10px;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.hover-window li:nth-child(1) > a {
  background: #62F67A;
}
.hover-window li:nth-child(2) > a {
  background: #FF6A00;
}
.hover-window li:nth-child(3) > a {
  background: #496AAF;
}
.hover-window li:nth-child(4) > a {
  background: #FF9B05;
}
.hover-window li:nth-child(5) > a {
  background: #19C7FA;
}
.hover-window li:nth-child(6) > a {
  background: #0975B5;
}
.hover-window li:nth-child(7) > a {
  background: #6A53EB;
}
.hover-window li:nth-child(8) > a {
  background: #FF4C5A;
}
.hover-window li:nth-child(9) > a {
  background: #009A61;
}
.hover-window li:nth-child(10) > a {
  background: #FF4000;
}
.hover-window li:nth-child(11) > a {
  background: #0E88EB;
}
.hover-window li:nth-child(12) > a {
  background: orange;
}
.hover-window li:last-child > a {
  width: 60px;
  height: 25px;
  background: #d4ebf2;
  line-height: 25px !important;
  margin-left: 178px;
}
.wrap-box {
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
  width: 1000px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  height: auto;
  margin-top: 120px;
  text-align: center;
}
.wrap-box .search-box .school-logo {
  margin-bottom: 30px;
}
.wrap-box .search-box .school-logo h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.wrap-box .search-box .school-logo h1 img {
  margin-right: 20px;
  animation: heartBeat 2s linear infinite;
}
.wrap-box .search-box .wrap-search {
  width: 600px;
  height: 40px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #fff;
  margin: 0 auto;
  position: relative;
  transition: all .8s linear 4s;
}
.wrap-box .search-box .wrap-search input {
  width: 500px;
  height: 40px;
  color: #fff;
}
.wrap-box .search-box .wrap-search span {
  position: absolute;
  right: 78px;
  top: 2px;
  cursor: pointer;
}
.wrap-box .search-box .wrap-search button {
  float: right;
  width: 76px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  position: relative;
  font-size: 20px;
}
.wrap-box .search-box .wrap-search button span {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.wrap-box .whole-service:after {
  content: "";
  display: block;
  clear: both;
}
.wrap-box .whole-service .service-left {
  width: 50%;
  float: left;
  margin-top: 20px;
  text-align: left;
}
.wrap-box .whole-service .service-left > li {
  display: inline-block;
}
.wrap-box .whole-service .service-left > li a {
  margin: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  color: #fff;
  transition: all 0.8s ease-in-out;
}
.wrap-box .whole-service .service-left > li a:hover {
  transform: rotateY(360deg);
}
.wrap-box .whole-service .service-left > li:nth-child(1) > a {
  background: #41c249;
}
.wrap-box .whole-service .service-left > li:nth-child(2) > a {
  background: #16C7BE;
}
.wrap-box .whole-service .service-left > li:nth-child(3) > a {
  background: #F2AA6B;
}
.wrap-box .whole-service .service-right {
  margin-top: 20px;
  float: left;
  width: 50%;
}
.wrap-box .whole-service .service-right li:first-child {
  color: #fff;
  font-size: 18px;
  width: 100%;
}
.wrap-box .whole-service .service-right li {
  text-align: left;
  display: inline-block;
  width: 30%;
  margin: 10px 0;
}
.wrap-box .whole-service .service-right li > a {
  color: #fff;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*分界线*/
p.divider {
  padding: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: #fff;
  width: 960px;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  margin-top: 50px;
}
/*换肤栏*/
#show-skin {
  width: 100%;
  height: 300px;
  background: #000000;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 200;
}
#show-skin .wrap-img {
  width: 500px;
  height: 300px;
  float: left;
  margin-right: 5%;
}
#show-skin .wrap-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*图片特效*/
.img-flex {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  text-align: center;
  height: 100%;
}
.img-flex #img-back {
  position: absolute;
  left: 0;
  top: 0;
}
